extends layout

block content
  h1 #{title}: #{writer.fullName}
  p= writer.lifespan

  if writer_movies.length

    p #[strong Delete the following movies before attempting to delete this writer.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Movies

      dl
      each movie in writer_movies
        dt
          a(href=movie.url) #{movie.name}
        dd #{movie.description}

  else
    p Do you really want to delete this writer?

    form(method='POST' action='')
      div.form-group
        input#writerid.form-control(type='hidden',name='writerid', required='true', value=writer._id )

      button.btn.btn-primary(type='submit') Delete
