extends layout

block content

  div(class="card mb-3" style="max-width: 1300px;")
    div(class="row g-0")
      div(class="col-md-4")
        img(src=writer.imageSrc class="img-fluid rounded-start" alt=writer.fullName)
      div(class="col-md-8")
        div(class="card-body")
          h1(class="card-title") #{writer.fullName}
          h5(class="card-subtitle mb-2 text-muted") #{writer.lifespan}
          p(class="card-text") #{writer.bio}

  div(style='margin-left:20px;margin-top:20px')

    h4 Movies

    div.movie-list
      each movie in writer_movies
        div.list-item
          a(href=movie.url)
            img(src=movie.imageSrc?movie.imageSrc:"/images/Default_Image_thumbnail.png" alt=movie.name)
          a(href=movie.url) #{movie.name}
          span.movie-rating #{movie.rating}

      else
        p This writer has no movies.
  hr
  p
    a(href=writer.url+'/delete') Delete writer
  p
    a(href=writer.url+'/update') Update writer  